@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,500;1,500&display=swap");

/* Reset margin paddin */
*,
::after,
::before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body,
.stories {
  max-width: 1440px;
  font-family: "Quicksand", serif;
  margin: 0px auto;
}

/* Common Pattern */
:root {
    --white: #f7f7f7;
    --sky-blue: #01acfd;
    --orange: #fea301;
    --black: #111111;
    --05D4DF: #05d4df;
    --5D58EF: #5d58ef;
  }
  
  .raleway {
    font-family: "Raleway", serif;
    font-size: clamp(0.7rem, calc(1vw + 1px), 1rem);
    font-weight: 500;
    color: #808080;
    line-height: 1.6;
  }
  .primarybtn {
    font-family: "Quicksand", serif;
    color: var(--white);
    padding: 10px 47px;
    border: none;
    font-size: clamp(1rem, calc(1.3vw + 2px), 1.27rem);
    background-color: var(--black);
    border-radius: 12px;
    font-weight: bold;
  }


/* header > navigation */
header {
  padding: clamp(12px, calc(1.3vw + 1px), 22px)
    clamp(16px, calc(9.7vw + 1px), 140px);
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav > ul {
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: center;
  align-items: center;
  list-style: none;
  column-gap: 32px;
}
nav > ul > li {
  font-size: clamp(1rem, calc(1.3vw + 1px), 1.2rem);
  font-weight: bold;
}
nav > ul > li:nth-child(1) {
  color: var(--orange);
}
nav > ul > li:nth-child(2) {
  color: var(--sky-blue);
}
nav > ul > li:nth-child(3) {
  color: var(--05D4DF);
}
nav > ul > li:nth-child(4) {
  color: var(--5D58EF);
}
nav > .primarybtn {
  padding: 10px 60px;
  background-color: var(--orange);
}
.title,.cover{
  display: flex;
  align-items: center;
  gap: 15px;
}
.title > h2 {
  font-size: clamp(1.7rem, calc(2.22vw + 1px), 2.1rem);
  font-weight: bold;
  color: var(--black);
}
.fa-bars {
  display: none;
  font-size: 30px;
  color: var(--black);
}

/* main > hero section */
.hero,
.curriculum,
.stories {
  padding: 0px clamp(16px, calc(9.7vw + 1px), 140px);
}
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero-img > img {
  width: 100%;
}
.hero-txt {
  max-width: 640px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 24px;
}
.hero-txt > h1 {
  font-size: clamp(2rem, calc(2.7vw + 1rem), 3.5rem);
  font-weight: bold;
  color: var(--black);
}
.hero-txt > h1 > span:first-child {
  color: var(--orange);
}
.hero-txt > h1 > span:last-child {
  color: var(--sky-blue);
}
.hero-txt > p {
  color: var(--black);
  font-size: clamp(0.9rem, calc(1vw + 0.4rem), 1.25rem);
}